<div class="alert alert-success mt-3" role="alert" id="add-success-alert">
    Устройство успешно удалено!
  </div>

<div class="py-4 px-6 border rounded text-center flex mb-2" style="min-width: 370px; min-height: 582px;">
    <img [src]="device.image" [alt]="device.name" class="img" width="300px" height="300px">
    <h2>{{ device.name }}</h2>
    <p>{{ device.shortDescription }}</p>
    <p>Цена: <span class="font-bold">{{ device.price }}</span></p>
    <p>Категория товара: {{ categoryMap.get(device.categoryId) }}</p>
    <p>{{ memoryMap.get(device.memoryId) }} / {{ ramMap.get(device.raM_ID) }} RAM</p>
    
    <button 
        class="border py-2 px-4 rounded bg-light"
        (click)="details= !details"
        >
        {{ details ? 'Скрыть' : 'Показать' }} Информацию
    </button>
    <br>
    <button style="width: 150px;" class="btn btn-primary py-2 px-4 rounded mt-2" (click)="addtocart(device)">
        В Корзину 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
    </button>
    <div *ngIf="details">
        <p class="mt-4">{{device.fullDescription}}</p>
    </div>
</div>