<div class="alert alert-success mt-3" role="alert" id="add-success-alert">
    Устройство успешно удалено!
  </div>
<!-- Добавить устройство -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
(click)="modalAdd()"
>
  Добавить устройство
</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Показать категории товаров
</button>

<div class="form-outline float-end mt-2" style="margin-right: 10px;">
    <input type="search" id="form1" [(ngModel)]="term" class="form-control" placeholder="Search..." aria-label="Search" style="width: 230px;"/>
</div>

<div class="row mt-2 float-end" style="margin-right: 40px;">
    <div class="circle col-4" style="margin-right: 25px;">
        <a (click)="laptopDevices()">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
            <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
          </svg>
        </a>
      </div>
      <div class="circle col-4" style="margin-right: 25px;">
        <a (click)="phoneDevices()">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
        </a>
      </div>
      <div class="circle col-4" style="margin-right: 25px;">
        <a (click)="ngOnInit()" style="text-align: center;">
              <b>All devices</b>
        </a>
      </div>
    </div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">картина</th>
        <th scope="col">Название</th>
        <th scope="col">Категория</th>
        <th scope="col">Оперативная память</th>
        <th scope="col">Внутренняя память</th>
        <th scope="col">Цена</th>
        <th scope="col">На складе</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices |filter:term" >
        <td>{{ device.id }}</td >
        <td><img [src]="device.image" [alt]="device.name" class="img" width="100px" height="100px"></td>
        <td>{{ device.name }}</td>
        <td>{{ categoryMap.get(device.categoryId) }}</td>
        <td>{{ ramMap.get(device.raM_ID) }}</td>
        <td>{{ memoryMap.get(device.memoryId) }}</td>
        <td>{{ device.price }}</td>
        <td>{{ device.amount  }}</td>
        <td>
            <button class="btn btn-outline-primary me-2 mb-1"
            (click)="modalEdit(device)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </button>
            <button class="btn btn-outline-danger me-2 mb-1"
            (click)="delete(device)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-success" role="alert" id="add-success-alert">
    Устройство успешно добавлено!
  </div>
  
  <div class="alert alert-success" role="alert" id="update-success-alert">
    Устройство успешно отредактировано!
  </div>
  
  <div class="alert alert-success" role="alert" id="delete-success-alert">
    Устройство успешно удалено!
  </div>

  <!-- Show inspection types modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inspection Types</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><b>Категории</b></p>
          <p *ngFor="let type of categoryList$ |async">{{type.id}} - {{type.name}}</p>
          <p>_ _ _ _ _ _ _ _ _ _ _</p>
          <p><b>Оперативная память</b></p>
          <p *ngFor="let ram of ramList$ |async">{{ram.id}} - {{ram.capacity}}</p>
          <p>_ _ _ _ _ _ _ _ _ _ _</p>
          <p><b>Внутренняя память</b></p>
          <p *ngFor="let memory of memoryList$ |async">{{memory.id}} - {{memory.capacity}}</p>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- Add or edit inspection Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modalClose()" id="add-edit-modal-close"
          ></button>
        </div>
        <div class="modal-body">
          <app-add-edit-device [device]="device" *ngIf="activateAddEditDeviceComponent"></app-add-edit-device>
        </div>
      </div>
    </div>