<div class="container-fluid" style="margin-top: 10%;">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
     
  <div class="card-box" style="background-color: #ccc; ">
      <form [formGroup]="Login" (ngSubmit)="login(user)" >
     
      <div class="row" style="display: block;">
        <h2 style="text-align: center; " >Login</h2>
      </div>
      
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
          <div class="form-group">
              <p class="mt-2" style="text-align: center; font-size: 20px;">User Name</p>
              <input type="text" [(ngModel)]="user.username" id="txtname" class="form-control" formControlName="username" placeholder="Enter the User Name"   autocomplete="off"  />
          </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
          <div class="form-group">
              <p class="mt-2" style="text-align: center; font-size: 20px;">Password</p>
              <input type="password" [(ngModel)]="user.password" id="txtpassword" class="form-control" formControlName="password"  placeholder="Enter the password"  autocomplete="off"  />
          </div>
      </div>
    </div>
    
    
    <div class="row" style="justify-content: center;">
      <div class="offset-lg-3 col-lg-2">
        <br>
          <div class="form-group" style="text-align: center;">
             <button type="submit"  class="btn btn-primary btn-lg btn-block mt-0 mr-0 ml-0 mb-3" >Login</button>
          </div>
      </div>
      <div class="col-lg-3">
          <br>
          <span></span>
      </div>
    </div>
  </form>
    
    </div>
  </div>
  </div>
  </div>